body {
    background-color: rgb(255, 232, 211);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header h1 {
    font-family: 'Playfair Display', serif;
    color: #2c1801; 
    text-align: center; 
    font-size: 3em; 
}

header hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 10px auto; 
    width:100%; 
}

main {
    color: #3e1d01;
    line-height: 1.5;
    margin: 25px;
    padding: 0px; 
}
main h2 {
    font-family: 'Times New Roman', serif;
}

main p {
    font-family: 'Verdana', sans-serif; 
}
main br {
    display: block;
    content: "\0020"; 
    margin-bottom: 15px; 

}

footer {
    text-align: center; 
    padding: 20px 0;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: #3e1d01;
    margin: 0 10px; 
}

footer hr {
    border: none;
    border-top: 1px solid #000000; 
    margin: 10px auto; 
    width:20%; 
}
