body {
    background-color:rgb(255, 232, 211);
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 250px;
    background: url(img/igreja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: rgb(255, 232, 211);
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}

main {
    padding: 0px; 
    margin: 25px;
    line-height: 1.5; 
    margin-bottom: 1px; 
}
main h3 {
    text-align: center;
    font-family: 'Times New Roman', serif; 
    color: #3e1d01;
    font-size: 2em;

}
main h2 {
    font-family: 'Times New Roman', serif;
    color: #3e1d01; 
}
main p {
    font-family: 'Verdana', sans-serif; 
    color: #3e1d01; 
}
main hr{
    border: none;
    border-top: 1px solid #3e1d01;
    margin: 10px auto;
    width:100%; 
}

footer {
    text-align: center; 
    padding: 20px 0;
    margin-bottom: 0;
}
footer a {
    text-decoration: none; 
    color: #3e1d01; 
    margin: 0 10px; 
}
footer hr {
    border: none;
    border-top: 1px solid #000000; 
    margin: 10px auto; 
    width:20%;
}
